body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    text-align: center;
}
.qr-section, .download-button {
    display: none;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: #FFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.qr{
    width: 200px;
    height: auto;
}